[submodule "dependencies/HPML"]
	path = dependencies/HPML
	url = https://github.com/ravi688/HPML.git
# [submodule "dependencies/tgc"]
# 	path = dependencies/tgc
# 	url = https://github.com/orangeduck/tgc.git
[submodule "dependencies/tgc"]
	path = dependencies/tgc
	url = https://github.com/ravi688/tgc.git
[submodule "dependencies/BufferLib"]
	path = dependencies/BufferLib
	url = https://github.com/ravi688/BufferLib
