[submodule "dependencies/HPML"]
	path = dependencies/HPML
	url = https://github.com/ravi688/HPML.git
[submodule "shared-dependencies/BufferLib"]
	path = shared-dependencies/BufferLib
	url = https://github.com/ravi688/BufferLib
[submodule "dependencies/TemplateSystem"]
	path = dependencies/TemplateSystem
	url = https://github.com/ravi688/TemplateSystem.git
[submodule "dependencies/SafeMemory"]
	path = dependencies/SafeMemory
	url = https://github.com/ravi688/SafeMemory.git
[submodule "dependencies/ttf2mesh"]
	path = dependencies/ttf2mesh
	url = https://github.com/ravi688/ttf2mesh.git
[submodule "dependencies/MeshLib"]
	path = dependencies/MeshLib
	url = https://github.com/ravi688/MeshLib
[submodule "dependencies/ECS"]
	path = dependencies/ECS
	url = https://github.com/ravi688/EntityComponentSystem.git
[submodule "dependencies/PhyMacParser"]
	path = dependencies/PhyMacParser
	url = https://github.com/ravi688/PhyMacParser.git
[submodule "dependencies/GLSLCommon"]
	path = dependencies/GLSLCommon
	url = https://github.com/ravi688/GLSLCommon.git
[submodule "dependencies/Common"]
	path = dependencies/Common
	url = https://github.com/ravi688/Common.git
